body {
  font-family: "Montserrat", sans-serif;
}

.section {
  display: flex;
  justify-content: center;
}

.chop-box {
  display: flex;
  flex-flow: column wrap;
  /* Your container needs a fixed height, and it 
   * needs to be taller than your tallest column. */
  height: 930px;
  padding-top: 50px;
  padding-bottom: 50px;
  align-content: center;
  align-items: center;
  width: 1035px;
  overflow: hidden;
  align-content: normal;
  /* TEMP For testing 
  background-color: rgba(131, 116, 233, 0.2); */
}

/* Tablet breakpoint two columns */
@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .chop-box {
    height: 1380px;
    width: 690px;
  }
}

/* Mobile breakpoint one column */
@media only screen and (max-width: 768px) {
  .chop-box {
    height: 1840px;
    max-width: 345px;
  }
}

.card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  width: 300px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 7px;
}

.media-content {
  padding: 2px 16px;
}

.author {
  margin-top: 15px;
  margin-bottom: 15px;
}

.is-2 {
  font-weight: 700;
  font-size: 32px;
}

.is-4 {
  font-weight: 600;
  font-size: 18px;
}

.is-6 {
  font-weight: 400;
  font-size: 14px;
}

.is-grey {
  color: rgb(160, 160, 160);
}

.content-container {
  display: flex;
  align-items: center;
}

.star {
  background-image: url(/images/star.jpg);
  width: 16px;
  height: 15px;
}

.places-logo {
  margin-right: 10px;
}

.review-photo {
  max-width: 40px;
  max-height: 40px;
}

.review-text {
  margin-top: 30px;
  margin-bottom: 30px;
}

.widget-title {
  margin: 50px 20px 0px 20px;
}

.widget-title__title {
  margin-bottom: 10px;
}

.widget-title__shadow-box {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  width: fit-content;
  padding: 10px;
}

.widget-title__place-rating {
  float: left;
  margin-right: 10px;
}

.widget-title__rating-stars {
  margin-top: 3px;
}

.widget-title__rating-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.widget-title__ratings-total {
  margin-left: 10px;
}
