body {
  font-family: "Montserrat", sans-serif;
}

.masonry {
  display: flex;
  justify-content: center;
}

.masonry__chopper {
  display: flex;
  flex-flow: column wrap;
  /* Your container needs a fixed height, and it 
   * needs to be taller than your tallest column. */
  height: 930px;
  padding-top: 50px;
  padding-bottom: 50px;
  align-content: center;
  align-items: center;
  width: 1035px;
  overflow: hidden;
  align-content: normal;
  /* TEMP For testing 
  background-color: rgba(131, 116, 233, 0.2); */
}

.card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  width: 300px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 7px;
  text-decoration: none;
  color: inherit;
}

.card__body {
  padding: 2px 16px;
}

.card__author {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 18px;
}

.is-2 {
  font-weight: 700;
  font-size: 32px;
}

.is-4 {
  font-weight: 600;
  font-size: 18px;
}

.is-6 {
  font-weight: 400;
  font-size: 14px;
}

.is-grey {
  color: rgb(160, 160, 160);
}

.card__flex-container {
  display: flex;
  align-items: center;
}

.star {
  background-image: url(/images/star.jpg);
  width: 16px;
  height: 15px;
}

.card__star {
  width: 16px;
  height: 15px;
}

.card__logo {
  margin-right: 10px;
}

.card__time {
  color: rgb(160, 160, 160);
  font-weight: 400;
  font-size: 14px;
}

.card__profile-photo {
  max-width: 40px;
  max-height: 40px;
}

.card__review {
  margin-top: 30px;
  margin-bottom: 30px;
}

.title {
  margin: 50px 20px 0px 20px;
}

.title__copy {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 32px;
}

.title__card {
  display: flex;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  width: fit-content;
  padding: 10px;
}

.title__rating {
  float: left;
  margin-right: 10px;
  font-weight: 600;
  font-size: 18px;
  align-self: center;
}

.title__stars {
  align-self: center;
}

.title__body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title__ratings-total {
  margin-left: 10px;
  color: rgb(160, 160, 160);
}

/* 4K breakpoint three columns */
@media only screen and (min-width: 1800px) {
  .title {
    margin-left: 20%;
  }
}

/* FullHD breakpoint three columns */
@media only screen and (min-width: 1408px) and (max-width: 1799px) {
  .title {
    margin-left: 10%;
  }
}

/* Tablet breakpoint two columns */
@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .masonry__chopper {
    height: 1380px;
    width: 690px;
  }
}

/* Mobile breakpoint one column */
@media only screen and (max-width: 768px) {
  .masonry__chopper {
    height: 1840px;
    max-width: 345px;
  }
}
