@charset "utf-8";

// Brand colors
$purple: #8338EC;
$orange: #FB5607;
$yellow: #FFBE0B;

// Update Bulma's global variables
$primary: $purple;
$link: $purple;
$success: $purple;
$red: $yellow;

// Update some of Bulma's component variables

// Import Bulma
@import "../node_modules/bulma/bulma.sass";
